<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>Wassup</h1>
  </div>
<!--     <% include ../helpers/navbar %>
 -->
  <button class="btn btn-dark">
    <a class="nav-link active" href = "/projects" > Start </a>

  </button>

  <p>Click on the button for a surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
  
</body>
<script type="text/javascript">
  window.localStorage.setItem("state",1)

</script>
<!-- <script src="js/record.js"></script>
 -->
</html>