<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>Program</h1>
  </div>
    <% include ../helpers/navbar %>

    <p>Let's record. Say Apple.</p>

 <div class="wrapper">
      <section class="main-controls">
        <canvas class="visualizer" height="60px"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
      </section>

      <section class="sound-clips">
      </section>
    </div>
<!--     <button class="submit">Stop</button>
 -->
<!--     <button class = "submit">Submit</button>
 -->
<!--      <script>
      recorder.addEventListener('change',function(e) {
        const file = e.target.files[0];
        console.log(file)
        const url = URL.createObjectURL(file);
        player.src = url;
      });
    </script>  -->



</body>
<script src="js/record.js"></script>

</html>
