<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>Program</h1>
  </div>
    <p>Let's record. Say</p>
    <h1 class="word">APPLE</h1>
    <img class="rounded-circle word_image1" src="images/1.png"/>
    <% include ../helpers/record %>
</body>
<script type="text/javascript">
  window.localStorage.setItem("nextState",2)
</script>
<script src="js/record.js"></script>

</html>
