<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>Program</h1>
  </div>
  <p>Listen to the audio below.</p>
  <div class="sample">
      <audio id="audio" controls>
      <source src="audios/1.mp3" id="track" type="audio/mpeg">
    </audio>
  </div>

    <p>Let's record. Say</p>
    <h1 class="word">WORD</h1>
    <img class="rounded-circle white" src="images/white.jpeg">
    <img class="rounded-circle word_image" id="word_img" src="images/white.jpeg"/>
    <% include ../helpers/record %>
</body>
<script src="js/record.js"></script>
<script type="text/javascript">
  nextState = window.localStorage.getItem("nextState")
  s = "images/"+nextState+".jpeg";
  document.getElementById("word_img").src = s;
  s2 = "audios/"+nextState+".mp3";
  var audio = document.getElementById('audio');
  document.getElementById('track').src = s2;
  audio.load();
  $(".word").html(dict[nextState]);
  nextState++;
</script>
</html>
